<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <h2 style="color: red; text-align: center;">404 {{error}} NOT FOUND</h2>
    </div>
    
    {{>footer}}
</body>

</html>